<div ng-cloak>
    <div class="row">

        <div class="col-md-8 col-md-offset-2">
            <h1 class="lead" translate="main.subtitle">Classificacio</h1>

            <label for="tempo" class="control-label">Selecciona una Temporada: </label>
            <select id="tempo" class="form-control"
                    ng-options="tempo as tempo.any for tempo in temporadas" ng-model="temporada" required>
            </select>

            <!--La meva taula aqui-->

            <div ng-repeat="g in equips track by $index" class="table-responsive">
                <h2>{{g.grup}}</h2>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>G_F</th>
                        <th>G_C</th>
                        <th>Pj</th>
                        <th>Pg</th>
                        <th>Pe</th>
                        <th>Pp</th>
                        <th>Punts</th>
                        <th>Data_alta</th>
                        <th>grup</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="equip in g | orderBy:'-pts'">
                        <td><a ui-sref="equipDetail({id:equip.id})">{{equip.id}}</a></td>
                        <td>{{equip.nom}}</td>
                        <td>{{equip.gols_favor}}</td>
                        <td>{{equip.gols_contra}}</td>
                        <td>{{equip.pj}}</td>
                        <td>{{equip.pg}}</td>
                        <td>{{equip.pe}}</td>
                        <td>{{equip.pp}}</td>
                        <td>{{equip.pts}}</td>
                        <td>{{equip.data_alta}}</td>
                        <td>{{equip.grup.nom}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>


            <div ng-switch="isAuthenticated()">

            </div>
        </div>
    </div>
</div>
