<div id="tabs2" class="tabs2">
    <nav2>
        <ul>
            <li><a href="#section-1" class="icon-shop"><span>Gestio Lliga</span></a></li>
            <li><a href="#section-2" class=""><i class="fa fa-shield"></i> <span>Gestio Equips</span></a></li>
            <li><a href="#section-3" class=""><i class="fa fa-futbol-o"></i> <span>Entrar partit</span></a></li>
        </ul>
    </nav2>
    <div class="content2">
        <section id="section-1">
            <div class="mediabox">
                <img src="assets/widthTabs/img/tempo.png" alt="img01" />
                <a ui-sref="temporada"><h3>Temporada</h3></a>
                <p>Gestiona les temporades: permet crear , veure els detalls, editar o eliminar!</p>
            </div>
            <div class="mediabox">
                <img src="assets/widthTabs/img/grups.png" alt="img02" />
                <a ui-sref="grup"> <h3>Grups</h3></a>
                <p>
                    Es separa la lliga en dies : dilluns, dimarts, dimecres...
                    Cada grup equival a una lliga diferent i te la seva taula
                    de classifi. a part!
                </p>
            </div>
            <div class="mediabox">
                <img src="assets/widthTabs/img/jorn.png" alt="img03" />
                <a ui-sref="jornada"><h3>Jornades</h3></a>
                <p>
                    Com en la lliga oficial, el equips s'enfronten en jornades, aquesta
                    seccio permet gestionar les jornades de cada grup.
                </p>
            </div>
            <div class="mediabox">
                <img src="assets/widthTabs/img/franj.png" alt="img03" />
                <a ui-sref="franja"><h3>Franjes</h3></a>
                <p>
                    Aquest apartat es definirant les franjes horaries en que es podran jugar els partits:
                    8:00 a 9:00, 9:00 a 10:00 ...
                </p>
            </div>
        </section>
        <section id="section-2">
            <div class="mediabox center">
                <img src="assets/widthTabs/img/equip.png" alt="img04" />
                <a ui-sref="equip"><h3>Equips</h3></a>
                <p>
                    Des de aqui es pot afegir, modificar i eliminar els equips que hi han apuntats a cada grup
                    tambe es pot visualitzar a quin usuari partany cada equip(Capita);
                </p>
            </div>
        </section>
        <section id="section-3">
            <div class="mediabox center">
                <img src="assets/widthTabs/img/partit.png" alt="img02" />
                <a ui-sref="partit"><h3>Partits</h3></a>
                <p>
                    En aquest apartat podras afegir els reslutats dels partits i modificar-los si escau.
                </p>
            </div>
        </section>
    </div><!-- /content -->
</div><!-- /tabs2 -->
