<div>
    <div class="row">

        <div class="col-md-12 text-center">
            <!--<h1 >Admin dashboard</h1>-->
        <admindashtabs></admindashtabs>
            <!--&lt;!&ndash;<button class="btn btn-primary" ng-click="" style="margin-bottom: 7px;">Crear Lliga</button>&ndash;&gt;-->
            <!--&lt;!&ndash;</br>&ndash;&gt;-->
            <!--&lt;!&ndash;<button class="btn btn-primary" ng-click="" style="margin-bottom: 7px;">Modificar Lliga</button>&ndash;&gt;-->
            <!--&lt;!&ndash;</br>&ndash;&gt;-->
            <!--&lt;!&ndash;<button class="btn btn-primary" ng-click="" style="margin-bottom: 7px;">Entrar resultats</button>&ndash;&gt;-->

        </div>
    </div>
</div>
