<div id="tabs2" class="tabs2">
    <nav2>
        <ul>
            <!--<li><a href="#section-1" class="icon-shop"><span>Gestio Lliga</span></a></li>-->
            <li><a href="#section-2" class=""><i class="fa fa-shield"></i> <span>Gestio Equips</span></a></li>
            <li><a href="#section-2" class=""><i class="fa fa-users"></i> <span>Gestio Jugadors</span></a></li>

            <!--<li><a href="#section-3" class="icon-food"><span>Entrar partit</span></a></li>-->
        </ul>
    </nav2>
    <div class="content2">
        <section id="section-2">
            <div class="mediabox center">
                <img src="assets/widthTabs/img/equip.png" alt="img04" />
                <a ui-sref="equip"><h3>Equips</h3></a>
                <p>
                    Des de aqui es pot afegir, modificar i eliminar els equips que hi han apuntats a cada grup
                    tambe es pot visualitzar a quin usuari partany cada equip(Capita);
                </p>
            </div>
        </section>

    </div><!-- /content -->
</div><!-- /tabs2 -->
