
<div class="menu-wrap" >
    <nav class="menu">
        <div class="icon-list">
            <!--<a ui-sref="admindash"><i class="fa fa-fw fa-star-o"></i><span>Admin Dashboard</span></a>-->
            <!--<a ui-sref="userdash"><i class="fa fa-fw fa-star-o"></i><span>User Dashboard</span></a>-->
            <!--<a ui-sref="capitadash"><i class="fa fa-fw fa-star-o"></i><span>Capita Dashboard</span></a>-->
            <a ui-sref="dashboard"><i class="fa fa-fw fa-star-o"></i><span>Dashboard</span></a>

            <a ui-sref="underconstruct"><i class="fa fa-fw fa-bell-o"></i><span>Resultats</span></a>
            <a ui-sref="underconstruct"><i class="fa fa-calendar"></i><span>Calendari</span></a>
            <a ui-sref="underconstruct"><i class="fa fa-fw fa-bar-chart-o"></i><span>Estadistiques</span></a>
            <a ui-sref="underconstruct"><i class="fa fa-picture-o"></i><span>Galeria Fotografica</span></a>
        </div>
    </nav>
    <button class="close-button" id="close-button">Close Menu</button>
    <div class="morph-shape" id="morph-shape" data-morph-open="M-7.312,0H15c0,0,66,113.339,66,399.5C81,664.006,15,800,15,800H-7.312V0z;M-7.312,0H100c0,0,0,113.839,0,400c0,264.506,0,400,0,400H-7.312V0z">
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 100 800" preserveAspectRatio="none">
            <path d="M-7.312,0H0c0,0,0,113.839,0,400c0,264.506,0,400,0,400h-7.312V0z"/>
        </svg>
    </div>
</div>
